body {
    margin: 0;
    overflow: hidden;
    background: black;
}

#menu {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

#menu-bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#playBtn {
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px 40px;
    font-size: 26px;
    border-radius: 12px;
    border: none;
    background: #3c2e15;
    color: #fff;
    cursor: pointer;
}

#game {
    display: none;
}

#mobile-controls {
    display: none;
    position: fixed;
    bottom: 20px;
    width: 100%;
    text-align: center;
}

#mobile-controls button {
    background: #4a3315;
    color: white;
    border: none;
    width: 70px;
    height: 70px;
    font-size: 32px;
    border-radius: 50%;
    margin: 10px;
}